<header class="calendar-header" id="chat-room-header">
  <div class="bot-info calendar">
    <div class="bot-status">
      <i
        class="fa-solid fa-chevron-left fa-lg"
        id="back-to-lobby"
        style="cursor: pointer"
      ></i>
      <div class="avatar-container">
        <div class="bot-photo">
          <img
            src="./src/images/botConnected.png"
            alt="bot avatar"
            class="avatar-img"
          />
        </div>
      </div>
      <div class="bot-name">
        <span class="player-name"></span>
        <div style="display: flex; align-items: center">
          <span class="status-box"></span>
          <span style="margin-left: 4px"> connected </span>
        </div>
      </div>
    </div>
  </div>
</header>
